*{
    margin: 0;
    padding: 0;
}
/*menu*/

header{
    background-color: #3674B5;
    padding: 10px 30px;
    
    
}
.nav-item .nav-link {
    color: white;
}
header{
    display: flex;
    justify-content: space-between;
}
header nav .menu{
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header nav ul{
    display: flex;
    column-gap: 10px;
}
.nav-item .nav-link:hover {
    color: #baeb0b; /* Cambia este color al que prefieras */
}


/* contenido princial*/

main{
    padding: 50px 0; 
    background-color: #578FCA;
}

main h1{
    text-align: center;
    padding: 10px 50px;
    font-size: 72px;
    color: #ffffff;
}
.card-imagenes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;

    
}
.card-body{
    background-color: #e6f7ff; /* Fondo celeste claro */
    border-radius: 0 0 10px 10px; /* Bordes redondeados solo en la parte inferior */
    padding: 15px; /* Espaciado interno */
}

.card-text{
    text-align: center;
    color: #333; /* Color de texto oscuro */
    margin: 0; /* Elimina el margen predeterminado */
    
}
.youtube-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #ffffff;
    text-decoration: none;
    margin-top: 10px;
    transition: color 0.3s ease;
    gap: 10px;
}

.youtube-icon:hover {
    color: #3c4741;
}
.bienvenido{
    text-align: center;
    padding: 50px 60px;
    color: #ffffff;
}
/*acordeo*/
.card-container{
    background-image: url(/assets/img/main.jpeg);
    background-size: auto;              
    background-position: right;
    background-repeat: no-repeat;                 
    padding: 20px;  
    border: 2px solid #ccc; 
}


/*Tartjetas de Blog*/

.blog{
    padding: 20px;
}
.titulo-blog{
    text-align: center;
    padding: 30px;
    margin: 20px 0; /* Ajusta el margen para que no haya espacio extra a los lados */
    color: white;
}
.blog-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.blog-container {
    display: grid;
    grid-template-columns: 400px 400px;
    gap: 20px;
    
}

.blog-card {
    background: linear-gradient(135deg, #578FCA, #a8d5e2);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    justify-content: space-between;
    height: 300px;
}

.blog-card:hover {
    transform: translateY(-5px);
}

.blog-card h3 {
    /* font-size: 1.5em; */
    margin-bottom: 10px;
}

.blog-card p {
    /* font-size: 1em; */
    line-height: 1.6;
}

.read-more {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    background: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    
}

.read-more:hover {
    background: #0056b3;
}


#servicios{
    text-align: center;
    color: white;
    padding: 20px;
}
.accordion-button {
    background-color:  #ffffff; /* Color de fondo del botón */
    color: white; /* Color del texto */
    font-weight: bold; /* Texto en negrita */
    padding: 15px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
}

.accordion-button.collapsed {
    background-color: #3A6A9A; /* Color de fondo cuando está colapsado */
}

.accordion-body {
    background-color:  #a8d5e2; /* Color de fondo del contenido */
    color: #0c0c0c; /* Color del texto */
    padding: 15px; /* Espaciado interno */
    border-radius: 0 0 5px 5px; /* Bordes redondeados solo en la parte inferior */
}

.accordion-card .accordion-item{
    width: 200px;
    border: 1px solid #c0c0c0;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow:0 0 10px #d7d7d7;
    min-height: 150px;
    
    
}


.accordion-card {
    display: grid;
    grid-template-columns: 300px 300px 300px; /* Tres columnas */
    grid-template-rows: repeat(2, auto); /* Dos filas */
    gap: 20px; /* Espacio entre los acordeones */
}
.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

/*franja de turno*/
.franja-turno {
    background-color: #3A6A9A; /* Color de fondo de la franja */
    padding: 40px 20px; /* Espaciado interno */
    color: white; /* Color del texto */
}
.contenido-franja {
    max-width: 1200px; /* Ancho máximo del contenido */
    margin: 0 auto; /* Centrar el contenido */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px; /* Espacio entre el texto y la imagen */
}
.texto-franja {
    flex: 1; /* Ocupa el espacio disponible */
}

.texto-franja h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

.texto-franja p {
    font-size: 16px;
    margin-bottom: 20px;
}

.boton-turno {
    display: inline-block;
    padding: 10px 20px;
    background-color: #7bff; /* Color naranja para el botón */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.boton-turno:hover {
    background: #0056b3;
}

.saber-mas{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 30px;
    color: #495057;
}
.saber-mas-btn {
    display: inline-block;
    padding: 10px 20px; /* Espaciado interno */
    background-color: #007bff; /* Color de fondo */
    color: white; /* Color del texto */
    text-decoration: none; /* Quitar subrayado en enlaces */
    border: none; /* Quitar borde en botones */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 1em; /* Tamaño del texto */
    cursor: pointer; /* Cambiar el cursor al pasar */
    transition: background-color 0.3s ease; /* Transición suave */
}


.saber-mas-btn:hover {
    background-color: #0056b3; /* Cambio de color al pasar el cursor */
}


/*pie de pagina*/

footer{
    background-color: #3A6A9A;
    color: #adb5bd;
}
footer .container-fluid {
    text-align: center;
}
.list-unstyled a {
    text-decoration: none;
    color: #adb5bd;
}
.redes{
    text-align: center;
}
.iconos{
    display: flex; /* Activamos Flexbox */
    justify-content: center; /* Centra los iconos en el eje horizontal */
    gap: 15px; /* Espacio entre los iconos */
    margin-top: 10px; 
}
.iconos img{

    width: 30px; /* Tamaño de las imágenes */
    height: 30px; /* Tamaño de las imágenes */
    object-fit: cover; /* Asegura que las imágenes mantengan sus proporciones */
}


/*pagina-quiropraxia*/

.info-seccion {
    position: relative;
    height: 100vh;
    background: url('/assets/img/quiropractica.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 20px;
}
.info-contenido{
    background: rgba(0, 0, 0, 0.5);
}

.que-es{
    max-width: 1200px; /* Ancho máximo del contenido */
    margin: 0 auto; /* Centrar el contenido */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px; /* Espacio entre el texto y la imagen */
}



.subluxaciones {

    background: #ffffff;
    padding: 30px;
    text-align: center;
}

.apartado {
    text-align: center;
    padding: 30px;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.apartado h2 {
    font-size: 28px;
    color: #ca510a;
    margin-bottom: 15px;
}

.apartado p {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}

.info-card {
    
        display: flex;              /* Pone las tarjetas en fila */
        justify-content: center;    /* Centra las tarjetas en la pantalla */
        gap: 20px;                  /* Espacio entre las tarjetas */
    
}
.sub-card {
    width: 30%;                 /* Cada tarjeta ocupa el 30% del ancho */
    text-align: center;         /* Centra el contenido dentro de la tarjeta */
    background: #fff;           /* Fondo blanco */
    padding: 20px;              /* Espaciado interno */
}

.icono-masaje{
    padding: 20px;
}

.cierre {
    
    padding: 40px 20px; 
    text-align: center; 
    margin-top: 40px; 
}

.cierre h2 {
    font-size: 28px;
    color: #000000;
    margin-bottom: 20px;
}

.cierre p {
    font-size: 18px;
    color: #000000;
    line-height: 1.6;
    margin: 0 auto 20px; 
}



/*Pagina contactos*/

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.card-contacto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    background-color: #1E3A8A;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: #ffffff;
}


.contenedor {
    display: flex;
    justify-content: space-between; /* Separa el formulario y el mapa */
    align-items: stretch; /* Asegura que ambos tengan la misma altura */
    gap: 20px; /* Espacio entre el formulario y el mapa */
    padding: 30px; /* Espacio interno */
    width: 100%; /* Ocupa todo el ancho disponible */
    max-width: 1200px; /* Ancho máximo */
    margin: 0 auto; /* Centra el contenedor */
}

/* Formulario y Mapa */
.formulario-contacto, .mapa {
    width: 48%; /* Ancho fijo para ambos (48% para dejar espacio para el gap) */
    background: #1E3A8A; /* Fondo azul */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    border: 2px solid #000; /* Borde negro */
    border-radius: 10px; /* Bordes redondeados */
}

/* Estilos para el contenido interno */
.contact-form, .contact-map {
    padding: 20px; /* Espacio interno */
}

/* Estilos para los inputs y el botón */
.form-control {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
/*Boton enviar */
.btn {
    background-color: #7bff; 
    color: rgb(248, 243, 243);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/*pagina nosotros*/

.franja-nosotros {
    background-color: rgb(167, 164, 164);
}

.nosotros {
    text-align: left;
    padding: 20px;
}

.nosotros h1 {
    text-align: left;
}

.mision-vision {
    display: flex;
    align-items: stretch; /* Para que tengan la misma altura */
    justify-content: center;
    flex-wrap: wrap; /* Para que sean responsivas */
    gap: 20px;
    padding: 50px;
}


.mision, .vision {
    text-align: center;
    width: 300px; /* Más ancho para que se vea mejor */
    border: 1px solid #c0c0c0;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px #d7d7d7;
    min-height: 200px; /* Altura mínima para que se vean parejas */

}

/* Ajuste para la sección de filosofía */
section.fisolosfia, section.instalaciones {
    max-width: 1100px; /* Limitar ancho para mejor legibilidad */
    margin: 0 auto; /* Centrar la sección */
    padding: 20px; /* Espaciado interno */
}

section.fisolosfia h2, section.instalaciones h2,
section.fisolosfia p, section.instalaciones p {
    text-align: left; /* Centrar los títulos y párrafos */
    margin-bottom: 20px; /* Espaciado inferior */
}



/* Carrusel */
.carousel-inner img {
    object-fit: cover;
    height: 400px;
}
#carouselExample {
    max-width: 1100px; /* Ancho máximo del carrusel */
    margin: 0 auto; /* Centrar el carrusel */
    border-radius: 10px; /* Bordes redondeados */
    overflow: hidden; /* Que las imágenes no se salgan */
}

.carousel-inner img {
    height: 500px; /* Altura fija para las imágenes */
    object-fit: cover; /* Asegurar que la imagen se ajuste bien */
}