@use 'sass:map';
$botones:(
    fondo-botones:#77bbff,
    letras-boton:#ffffff,
    hover-boton:#0056b3,
    borde-botones:none,
    borde-radius:10px,
    transicion-boton:background-color 0.3s ease,
    size-boton:16px,
    padding-boton: 10px 20px
);

$flex: (
  alineacion: center,
  justificacion: center,
  direccion: column,
  entre: space-between
);

$fondos: (
  site-header:#3674B5,
  main:hsl(211, 52%, 57%),
  py-4:#3A6A9A,
  franja-turno: #3A6A9A,
  subluxaciones:#ffffff,
  franja-nosotros:rgb(167, 164, 164)

);
