
@mixin estilos-card($gradient, $border-radius, $box-shadow, $transition) {
    background: $gradient;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    transition: $transition;
    padding: 20px;
    text-align: center;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    }
}

@mixin titulo($size, $weight, $line-height, $color) {
    font-size: $size;
    font-weight: $weight;
    line-height: $line-height;
    color: $color;
    }