// =============================
// Variables de texto
// =============================
$texto_centro: center;         // Alineación centrada
$texto-derecha: right;         // Alineación a la derecha
$texto_izquierda: left;        // Alineación a la izquierda
$color-texto: #030303;         // Color principal del texto (casi negro)


// =============================
// Espaciado y layout
// =============================
$gap: 20px;                    // Espaciado entre elementos (gap general)


// =============================
// Colores de secciones
// =============================
$color-formulario: #1E3A8A;    // Color de fondo o detalles del formulario (azul oscuro)
